* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-
}

body {
    margin: 0 auto;
    min-height: 100vh;
}
.container {
    padding: 40px;
}

p {
    text-align: justify;
}

h1 {
    text-align: center;
    margin: 10px 0 20px;
    color: red;
}

.image-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    margin: 25px;
}

.img-group img {
    width: 250px;
    height: 350px;
}

.img-group-2 img {
    width: 250px;
    height: 250px;
}

.image-narration {
    text-align: center;
    color: red;
    font-style: italic;
    font-style: bold;
}